<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/displayError.css}" rel="stylesheet"/>
    <link th:href="@{/css/signUpFormCss.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="fragment/loginfragment :: loginHome"></div>
<div th:replace="fragment/loginfragment :: loginHomeCss"></div>
<div th:replace="fragment/loginfragment :: loginHomeLink"></div>
<div class="container">
    <div class="title">Sign Up</div>
    <div class="content">
        <form th:action="@{~/signup/add}" th:method="post" th:object="${userDto}">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" th:field="*{name}">
                    <p class="display_msg" th:if="${#fields.hasErrors('name')}"
                       th:errors="*{name}"></p>
                </div>

                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" placeholder="Enter your address" th:field="*{address}">
                    <p class="display_msg" th:if="${#fields.hasErrors('address')}"
                       th:errors="*{address}"></p>
                </div>

                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email"th:field="*{email}">
                    <p class="display_msg" th:if="${#fields.hasErrors('email')}"
                       th:errors="*{email}"></p>
                </div>

                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="text" placeholder="Enter your number" th:field="*{contact}">
                    <p class="display_msg" th:if="${#fields.hasErrors('contact')}"
                       th:errors="*{contact}"></p>
                </div>

                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" th:field="*{password}">
                    <p class="display_msg" th:if="${#fields.hasErrors('password')}"
                       th:errors="*{password}"></p>
                </div>

                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm your password"
                           th:field="*{reTypePassword}">
                    <p class="display_msg" th:if="${#fields.hasErrors('reTypePassword')}"
                       th:errors="*{reTypePassword}"></p>
                </div>
            </div>
<!--            <div class="gender-details">-->
<!--                <input type="radio" name="gender" id="dot-1">-->
<!--                <input type="radio" name="gender" id="dot-2">-->
<!--                <input type="radio" name="gender" id="dot-3">-->
<!--                <span class="gender-title">Gender</span>-->
<!--                <div class="category">-->
<!--                    <label for="dot-1">-->
<!--                        <span class="dot one"></span>-->
<!--                        <span class="gender">Male</span>-->
<!--                    </label>-->
<!--                    <label for="dot-2">-->
<!--                        <span class="dot two"></span>-->
<!--                        <span class="gender">Female</span>-->
<!--                    </label>-->
<!--                    <label for="dot-3">-->
<!--                        <span class="dot three"></span>-->
<!--                        <span class="gender">Prefer not to say</span>-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
            <div class="button">
                <input type="submit" value="Submit">
            </div>
<!--            <div class="button">-->
<!--                <input type="reset" value="Reset">-->
<!--            </div>-->
        </form>
        <h4 style="color: green" th:text="*{message}"></h4>
        <p class="display_msg" th:text="*{passwordMsg}"></p>
    </div>
</div>
</body>
</html>