<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TODO || HOME</title>
    <link th:href="@{/css/table.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="fragment/fragment :: js_link" ></div>
    <div th:replace="fragment/fragment :: css_link" ></div>
    <div th:replace="fragment/fragment :: ganeric_css" ></div>
    <div th:replace="fragment/fragment :: navbar " ></div>
    <div th:replace="fragment/fragment :: homecss " ></div>
    <div class="main">
        <h2 class="head_caption"><u><i>ToDo List</i></u></h2>
        <button>
            <a  th:href="@{/todo/add}">Add</a>
        </button>
        <table id="members">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Title</th>
                <th>Status</th>
                <th>Date</th>
                <!--                <th>Action</th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="i,loop:  ${todo}">
                <td th:text="${loop.count}"></td>
                <td th:text="${i.title}"></td>
                <td  th:text="${i.toDoStatus.name()}"></td>
                <td  th:text="${i.toDoDate}"></td>
                <!--                <td>-->
                <!--                    <a class="button1" th:href="@{/todo/update/{id}(id =${i.id})}">Update</a>-->
                <!--                </td>-->
            </tr>
            </tbody>
        </table>
        <h4 th:text="'Total Done Task :'+${doneTaskPercentage} +' %'" style="color: #04AA6D"></h4>
        <h4 th:text="'Total Pending Task :'+${100 - doneTaskPercentage} +' %'" style="color: red"></h4>
    </div>
</div>
</body>
</html>